<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="image2.svg" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JavaScript Bundle (Popper.js included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>Domain Management</title>
    <style>
      /* body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f9;
        color: #333;
        display: flex;
      } */
      .sidebar {
        width: 250px;
        background: #2c3e50;
        color: white;
        padding: 15px;
        height: 100vh;
      }

      .sidebar div {
        display: flex;
        /* align-items: center; */
        padding: 12px;
        cursor: pointer;
      }

      .sidebar a {
        display: flex;
        align-items: center;
        gap: 10px; /* This creates space between icon and text */
        text-decoration: none;
        color: white;
        width: 100%;
      }

      .sidebar div:hover {
        background: #34495e;
      }

      .dropdown {
        display: flex;
        align-items: center;
      }

      .dropdown-content {
        display: none;
        flex-direction: column;
        padding-left: 30px;
      }

      .dropdown-content a {
        padding: 8px 0;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        text-decoration: none;
      }

      .dropdown-content a:hover {
        background: #3b5998;
      }

      .content {
        /* margin-left: 250px; */
        padding: 20px;
        width: 100%;
      }

      h1 {
        text-align: center;
        margin-top: 20px;
        font-size: 2rem;
        color: #4caf50;
      }

      .btn {
        display: inline-block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #4caf50;
        color: #fff;
        text-decoration: none;
        text-align: center;
        font-size: 1rem;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #45a049;
      }

      .tabs {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        gap: 10px;
      }

      .tab {
        flex: 1;
        text-align: center;
        padding: 15px 0;
        border: 1px solid #ccc;
        border-radius: 5px 5px 0 0;
        background-color: #f9f9f9;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .tab.active {
        background-color: #4caf50;
        color: #fff;
      }

      .tab:hover {
        background-color: #d4edda;
        color: #4caf50;
      }

      .tab-content {
        max-width: 800px;
        margin: 0 auto;
        border: 1px solid #ccc;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        background-color: #fff;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      #content-text {
        font-size: 1.2rem;
        color: #555;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        /* background-color: #f0f0f0; */
        margin: 5px 0;
        padding: 10px;
        border-radius: 5px;
      }

      .count-tab {
        text-align: center;
        margin: 10px auto;
        font-size: 1rem;
        color: #333;
      }
    
        
      @media (max-width: 768px) {
        h1 {
          font-size: 1.5rem;
        }

        .tab {
          font-size: 0.9rem;
          padding: 10px 0;
        }

        .btn {
          font-size: 0.9rem;
          padding: 8px 16px;
        }

        .tab-content {
          padding: 15px;
        }
      }
    </style>
  </head>
  <body>
    <div class="d-flex">
      <div class="sidebar">
        <h5>DOMAIN CHECK</h5>
        <div>
          <a href="list_of_domains"><i class="fa-solid fa-house"></i>Home</a>
        </div>
<div class="dropdown-one" style="flex-direction: column;" onclick="toggleDomainDropdown()">
  <a><i class="fas fa-shield-alt"></i>Domain Check</a>
</div>
<div id="dropdownContent1" class="dropdown-content" style="display: none">
        <!-- <div>
          <a href="list_of_domains"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
        </div> -->
        <div>
          <a href="domain_check"><i class="fas fa-key"></i> Check Keywords</a>
        </div>
        <div class="dropdown" onclick="toggleDomainDropdown1()">
          <a><i class="fas fa-globe"></i> Domain Details</a>
        </div>
        <div
          class="dropdown-content1"
          id="dropdownContent12"
          style="display: none"
        >
          <a href="{{ url_for('safe_page') }}">Safe Domains</a>
          <a href="{{ url_for('malicious_page') }}">Malicious Domains</a>
          <a href="{{ url_for('manual_takedown') }}">Manual Take Down</a>
        </div>

        <div class="dropdown" onclick="toggleAccountDropdown2()">
          <a><i class="fas fa-folder"></i> Account Pages</a>
        </div>
        <div
          class="dropdown-content2"
          id="dropdownContent13"
          style="display: none"
        >
          <a href="{{ url_for('login') }}"
            ><i class="fas fa-sign-in-alt"></i> Login</a
          >
          <a href="{{ url_for('signup') }}"
            ><i class="fas fa-user-plus"></i> Sign In</a
          >
          <a href="{{ url_for('forgot_password') }}"
            ><i class="fas fa-lock"></i> Forget Password</a
          >
        </div>
      </div>
      <div class="dropdown-one" style="flex-direction: column;" onclick="toggleDomainDropdownInventory()">
        <a><i class="fas fa-server"></i>Domain Inventory</a>
    </div>
    <div>
        <div id="dropdownContentKeywords" class="dropdown-content" style="display: none">
            <a href="owned_domains"><i class="fas fa-key"></i> Owned Domains</a>
        </div>
    </div>
     
      </div>
      <div  style="display: flex; flex-direction: column">
        <nav class="navbar navbar-expand navbar-light bg-white topbar  static-top shadow px-3 " style="justify-content: flex-end;" >
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <span class="ant-badge ant-dropdown-trigger css-yw9ary">
            <button type="button" class="ant-btn css-yw9ary ant-btn-default ant-btn-color-default ant-btn-variant-outlined ant-btn-icon-only" style="border: none; background: none; box-shadow: none; position: relative;" data-toggle="tooltip" data-placement="bottom" title="Reminders" onclick="showExpiringDomainsMessage()">
                <span class="ant-btn-icon">
                    <svg width="30" height="30" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11.5 15H16.5L15.0951 13.5951C14.7141 13.2141 14.5 12.6973 14.5 12.1585V9C14.5 6.38757 12.8304 4.16509 10.5 3.34142V3C10.5 1.89543 9.60457 1 8.5 1C7.39543 1 6.5 1.89543 6.5 3V3.34142C4.16962 4.16509 2.5 6.38757 2.5 9V12.1585C2.5 12.6973 2.28595 13.2141 1.90493 13.5951L0.5 15H5.5M11.5 15V16C11.5 17.6569 10.1569 19 8.5 19C6.84315 19 5.5 17.6569 5.5 16V15M11.5 15H5.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </span>
                <span class="badge badge-danger" style="    position: absolute;
                top: -1px;
                right: 0;
                background-color: red;
                color: white;
                border-radius: 50%;
                padding: 2px 5px;
                font-size: 10px;
                bottom: 16px;">{{ expiring_domains_count }}</span>
            </button>
        </span>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

           
            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="d-none d-lg-inline text-gray-600 small user-name">{{ username[0:2]|upper }}
                <!-- <img class="img-profile rounded-circle" src="img/undraw_profile.svg"> -->
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in dropdown-user" aria-labelledby="userDropdown" style="right: 0; left: auto;top: 0 ;">
                
                
                <a class="dropdown-item" href="{{ url_for('logout') }}"  data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <div class="d-sm-flex align-items-center justify-content-between ">
          <h1 class="h3 mt-3 mx-3">Dashboard</h1>
          <!-- <p>Email: {{ email }}</p> -->
          <!-- <a
            href="#"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
            ><i class="fas fa-download fa-sm text-white-50"></i> Generate
            Report</a
          > -->
        </div>
        <div class="row mx-3 my-3">
          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-primary shadow h-100 py-2"
              style="border-left: 0.25rem solid #4e73df !important"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <a href="{{ url_for('keywords') }}" style="text-decoration: none;">
                      <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                          style="cursor: pointer"
                      >
                          Number of Keywords Checked
                      </div>
                  </a>

                    <div
                      class="h5 mb-0 font-weight-bold text-gray-800 keywords-count"
                    >
                      {{ keywords_count }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-heading fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-success shadow h-100 py-2"
              style="border-left: 0.25rem solid #1cc88a !important"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <a href="{{ url_for('safe_page') }}" style="text-decoration: none;">
                    <div
                    class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                    style="cursor: pointer     ;height: 48px;"
                    >
                      Number of safe domains
                    </div>
                  </a>
                    <div
                      class="h5 mb-0 font-weight-bold text-gray-800 safe_count"
                    >
                      {{ safe_count }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-info shadow h-100 py-2"
              style="border-left: 0.25rem solid #36b9cc !important"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <a href="{{ url_for('malicious_page') }}" style="text-decoration: none;">
                    <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                      
                      style="cursor: pointer"
                    >
                      Number of Malicious domains
                    </div>
                  </a>
                    <div class="row no-gutters align-items-center">
                      <div class="col-auto">
                        <div
                          class="h5 mb-0 mr-3 font-weight-bold text-gray-800 malicious_count"
                        >
                          {{ malicious_count }}
                        </div>
                      </div>
                      <!-- <div class="col">
                        <div class="progress progress-sm mr-2">
                          <div
                            class="progress-bar bg-info"
                            role="progressbar"
                            style="width: 50%"
                            aria-valuenow="50"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-warning shadow h-100 py-2"
              style="border-left: 0.25rem solid #f6c23e !important"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <a href="{{ url_for('manual_takedown') }}" style="text-decoration: none;">
                    <div
                      class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                     
                      style="cursor: pointer"
                    >
                      Manual Take down needed
                    </div>
                  </a>
                    <div
                      class="h5 mb-0 font-weight-bold text-gray-800 manual_takedown_count"
                    >
                      {{ manual_takedown_count }}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="content">
          <h1>Domain Management</h1>
          <div style="display: flex; justify-content: space-between">
            <a href="{{ url_for('domain_check') }}" class="btn"
              > </a
            >
            <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
          </div>
          <div class="count-tab">
            Safe: <span id="safe-count">0</span> | Malicious:
            <span id="malicious-count">0</span> | Manual Takedown:
            <span id="manual-count">0</span>
          </div>

          <div class="tabs">
            <div class="tab active" id="safe-tab">Safe Domains</div>
            <div class="tab" id="malicious-tab">Malicious Domains</div>
            <div class="tab" id="manual-tab">Manual Takedown Domains</div>
          </div>
          <div class="tab-content">
            <p id="content-text">
              List of Safe Domains will be displayed here.
            </p>
            <ul id="domains-list"></ul>
          </div>
        </div> -->
        <div class="chart-container">
          <canvas id="domainChart"></canvas>
        </div>
      </div>
      
    </div>
    
    <script>
      function showExpiringDomainsMessage() {
        alert('There are {{ expiring_domains_count }} domains expired or expiring in 2 days. Please check.');
        window.location.href = "owned_domains";
      }
    </script>
    <script>
      // Check if the email variable is None and log a debug message
      document.addEventListener('DOMContentLoaded', function() {
        const userEmail = "{{ email }}";
        if (!userEmail || userEmail === 'None') {
          console.debug("Debug: Email is not present or is None.");
        } else {
          console.debug("Debug: Email is present:", userEmail);
        }
      });
    </script>
    <script>
      // Function to toggle the visibility of the dropdown menu
      function toggleUserDropdown() {
        const dropdown = document.querySelector('.dropdown-user');
        if (dropdown.style.display === 'block') {
          dropdown.style.display = 'none';
        } else {
          dropdown.style.display = 'block';
        }
      }
    
      // Add an event listener to the user dropdown toggle link
      document.querySelector('#userDropdown').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default anchor click behavior
        toggleUserDropdown(); // Toggle the dropdown visibility
      });
    </script>
    <script>
      function toggleDropdown(id) {
        var dropdown = document.getElementById(id);
        dropdown.style.display =
          dropdown.style.display === "block" ? "none" : "block";
      }
    </script>
    <script>
      function toggleDomainDropdown() {
        var dropdown = document.getElementById("dropdownContent1");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }

      function toggleAccountDropdown() {
        var dropdown = document.getElementById("dropdownContent2");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }
      function toggleDomainDropdown1() {
        var dropdown = document.getElementById("dropdownContent12");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }

      function toggleAccountDropdown1() {
        var dropdown = document.getElementById("dropdownContent12");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }
      function toggleDomainDropdown2() {
        var dropdown = document.getElementById("dropdownContent13");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }

      function toggleAccountDropdown2() {
        var dropdown = document.getElementById("dropdownContent13");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }
      function toggleDomainDropdownInventory() {
        var dropdown = document.getElementById("dropdownContentKeywords");
        if (dropdown.style.display === "block") {
          dropdown.style.display = "none";
        } else {
          dropdown.style.display = "block";
        }
      }
      
    </script>
    <script>
      console.log("Safe Count:", { safe_count });
      console.log("Malicious Count:", { malicious_count });
      console.log("Manual Takedown Count:", { manual_takedown_count });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const safeTab = document.getElementById("safe-tab");
        const maliciousTab = document.getElementById("malicious-tab");
        const manualTab = document.getElementById("manual-tab");
        const contentText = document.getElementById("content-text");
        const domainsList = document.getElementById("domains-list");

        function updateDomainList(domains) {
          domainsList.innerHTML = "";
          domains.forEach((domain) => {
            const li = document.createElement("li");
            li.textContent = domain;
            domainsList.appendChild(li);
          });
        }

        async function fetchDomains(type, contentMessage) {
          const response = await fetch(`/get_${type}_domains`);
          const data = await response.json();
          updateDomainList(data.map((d) => d.domain));
          contentText.textContent = contentMessage;
          document.getElementById(`${type}-count`).textContent = data.length;
        }

        safeTab.addEventListener("click", () => {
          safeTab.classList.add("active");
          maliciousTab.classList.remove("active");
          manualTab.classList.remove("active");
          fetchDomains("safe", "List of Safe Domains:");
        });

        maliciousTab.addEventListener("click", () => {
          safeTab.classList.remove("active");
          maliciousTab.classList.add("active");
          manualTab.classList.remove("active");
          fetchDomains("malicious", "List of Malicious Domains:");
        });

        manualTab.addEventListener("click", () => {
          safeTab.classList.remove("active");
          maliciousTab.classList.remove("active");
          manualTab.classList.add("active");
          fetchDomains("manual", "List of Domains for Manual Takedown:");
        });

        fetchDomains("safe", "List of Safe Domains:");
      });
    </script>
     <script>
      document.addEventListener("DOMContentLoaded", () => {
        const ctx = document.getElementById('domainChart').getContext('2d');
        const domainChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Safe', 'Malicious', 'Manual Takedown'],
            datasets: [{
              label: 'Number of Domains',
              data: [{{ safe_count }}, {{ malicious_count }}, {{ manual_takedown_count }}],
              backgroundColor: [
                '#636efa',
                '#ef553b',
                '#00cc96'
              ],
              borderColor: [
                'rgba(75, 192, 192, 1)',
                'rgba(255, 99, 132, 1)',
                'rgba(255, 206, 86, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      });
    </script>

  </body>
</html>
